<launch>

    <node name="arduinoSync1" pkg="rosserial_python" type="serial_node.py" ns="oneArduinoNs" args="/dev/ttyACM0">
    </node>

    <node name="arduinoSync2" pkg="rosserial_python" type="serial_node.py" ns="oneArduinoNs" args="/dev/ttyACM1">
    </node>

    <!-- <node name="arduinoSync3" pkg="rosserial_python" type="serial_node.py" ns="oneArduinoNs" args="/dev/ttyACM2">
    </node> -->

    <!-- <node name="arduinoSync4" pkg="rosserial_python" type="serial_node.py" ns="oneArduinoNs" args="/dev/ttyACM3"> -->
    <!-- </node> -->

</launch>
