<launch>
  <arg
    name="model" />
  <!-- <param
    name="robot_description"
    textfile="$(find bot_description)/urdf/msr_con.urdf" /> -->

  <param
    name="robot_description" 
    command="$(find xacro)/xacro --inorder $(find bot_description)/urdf/msr_con.urdf.xacro" />

  <!-- 
  <arg name="set_base_frame" default="base_footprint"/>
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/> -->

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="bot_slam_gmapping" output="screen">
  </node>

  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find bot_description)/urdf.rviz" />
</launch>