<launch>

  <!-- robot description -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find bot_description)/urdf/msr_con.urdf.xacro" />

  <!-- configure gazebo-->
    <!-- launch empty world -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find bot_gazebo)/worlds/gas_station.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
      </include>
    <!-- spawn_model xacro file -->
      <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model msr_con -x 0 -y 0 -z 0 -param robot_description" />
    <!-- spawn_model non xacro file -->
      <!-- <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-file $(find bot_description)/urdf/msr_con.urdf -urdf -model msr_con"
        output="screen" /> -->


  <!-- tf base footprint -->
    <node name="tf_footprint_base"
      pkg="tf2_ros"
      type="static_transform_publisher"
      args="0 0 0 0 0 0 base_link base_footprint 40" />
    
  <!-- robot_state_publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>

  <!-- joint_state_publisher -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
      <param name="use_gui" value="true"/>
      <param name="rate" value="50"/>
    </node>

  <!-- fake_joint_calibration -->
    <node name="fake_joint_calibration" pkg="rostopic" type="rostopic" args="pub /calibrated std_msgs/Bool true" />

  <!-- rviz launch -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bot_gazebo)/msr_con.rviz"/>
  

</launch>